html{
    background-color: lightgrey;
}
label{
    margin-right: 20%;
}
body{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
#EconFac{
    width: 741.6px;
    height: 510px;
    background-color: rgb(248, 248, 255);
}
#KuLogo{
    margin-top: -10px;
    margin-right: 10.6px;
    margin-left: 0px;
}
#Counterfactual{
    margin-right: 9%;
}
#MyPick{
    margin-right: 9%;
}
h2 {
    color: white;
    padding: 10px;
    margin: -10px;
    margin-bottom: 0px;
}
h3 {
   color: white;
    padding: 10px;
    margin: -10px;
    margin-top: -20px;
    margin-bottom: -12px;
    padding-bottom: 23px;
}
.jsx-3201076643.tab{
    padding: 0px
}
.jsx-4017309047.tab-container{
    margin-top: 5px;
}

h4 {
    color: #0051ba; 
    background-color: white;
    margin-bottom: 2px;
    margin-top: 30px;
}
