html{
    background-color: lightgrey;
}

body{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

h2 {
    color: white;
    padding: 10px;
}
h3 {
    color: white;
    padding: 10px;
}
h4 {
    color: #0051ba; 
    background-color: white;
    padding: 10px;
}
